#about{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:120px;
}
#about-cards{
    display: flex;
    width:80em;
    justify-content: space-between;
}
.about-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    width: 25em;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    padding:25px 10px;
    justify-content: center;
}
#about>h1,.about-card>h1{
    margin:0;
}
.about-gradient{
    background:   linear-gradient(120deg, #dd614a, #f4d35e, #3da5d9);
    background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 34px;
}
@media screen and (max-width:1200px){
    #about,#about-cards{
        flex-direction: column;
        align-items: center;
        gap:15px;
       text-align: center;
    }
    
}